<h1> BOOKMARKS </h1>
<% if current_user %>
  <h2> Welcome <%= current_user.name %> </h2>
<% end %>
<ul id='link'>
  <% @link.each do |link| %>
    <li>
      Title: <%= link.bookmark_name %>
      URL:  <%= link.url %>
      Tag:  <% link.tags.each do |tag| %>
       <%= tag.tag %>
      <%end%>
    </li>
    <%end%>
  </ul>
